/* Primary elements */
body {
    background: url("img/web_background_4.jpg") no-repeat fixed center center / cover  black;
    color: #D0D0D0;
}

/* Navigation bar */
.navbar-brand {
    padding-bottom: 0px;
    padding-top: 10px;
}
.navbar-inverse {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}
.navbar-inverse .nav>.active>a, .navbar-inverse .nav>.active>a:hover, .navbar-inverse .nav>.active>a:focus {
    background: none repeat scroll 0 0 rgba(49, 49, 49, 0.6);
}
.search, input[type="search"] {
    background-color: #606060;
    border: 1px solid #202020;
    color: #AAAAAA;
    width: 100px;
}
