/* Fonts */
@font-face {
    font-family: 'Xolonium';
    src: url('fonts/xolonium.eot');
    src: url('fonts/xolonium.eot?#iefix') format('embedded-opentype'),
         url('fonts/xolonium.ttf') format('truetype'),
         url('fonts/xolonium.woff') format('woff'),
         url('fonts/xolonium.svg#xoloniumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #0F0F0F;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat scroll 0% 0%, url("img/bg.jpg") no-repeat fixed center center / cover black;
  color: #9B9B9B;
  font-family: "Xolonium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #C3C3C3;;
  font-family: "Xolonium", Helvetica, Arial, sans-serif;
}

p {
  color: #C3C3C3;
  font-size: 1.3rem;
}

hr {
  border-color: #1b1b1b;
}

ul, ol, dl {
  font-size: 1.1rem;
}

.top-bar {
  height: 50px;
}

.top-bar .name h1 a {
  color: rgb(200, 200, 200);
  font-size: 1.1rem;
  text-shadow: 0px 1px 1px rgba(200, 200, 200, 0.4);
}

.top-bar-section ul li {
  background: none;
}

.top-bar-section ul li > a {
  color: rgb(200, 200, 200);
  font-family: 'Xolonium';
  font-size: 1rem;
  text-shadow: 0px 1px 1px rgba(200, 200, 200, 0.4);
}

.top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 50px;
}

.top-bar, .contain-to-grid {
  background: linear-gradient( rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 95% );
  margin-bottom: 15px;
}

.top-bar.expanded .title-area {
  background: none;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
 background: #333;
}

.panel {
  background-color: #151515;
  border-color: rgb(40, 40, 40);
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel li, .panel dl {
  color: #777777;
}

.th {
  box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.4);
}

.th:hover, .th:focus {
  box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.7);
}


/* Footer */
#footer {
  background: linear-gradient( rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 95% );
  font-family: sans-serif;
  font-style: italic;
  margin: 15px 0px 0px 0px;
  padding-top: 5px;
  width: 100%;
}

#footer p {
  color: white;
  margin-bottom: 0.5rem;
  text-align: center;
}

#footer ul {
  font-size: 1rem;
  list-style: none;
  margin-left: 0;
}

.statline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  position: relative;
  top: -20px;
}
