/* Fonts */
@font-face {
    font-family: 'XoloniumNormal';
    src: url('fonts/xolonium.eot');
    src: url('fonts/xolonium.eot?#iefix') format('embedded-opentype'),
         url('fonts/xolonium.ttf') format('truetype'),
         url('fonts/xolonium.woff') format('woff'),
         url('fonts/xolonium.svg#xoloniumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Primary elements */
body {
    background: url("img/bg.jpg") no-repeat fixed center center / cover  black;
    background-color: black;
    color: #D0D0D0;
    font-family: "XoloniumNormal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
