<html>
  <head>
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="badge">
      <div id="nick">
        <b>
        <span style="color:rgb(0,255,0)">print('<span style="color:rgb(255,0,0)">Anti<span style="color:rgb(127,127,127)">body<span style="color:rgb(0,255,0)">')<span style='color:rgb(255,255,255)'></span></span></span></span></span>
      </b>
      </div>

      <div id="games_played">
        218 games (144 duel, 41 ctf, 31 dm, 2 tdm)
      </div>

      <div id="win_percentage">
        111 wins, 107 losses (50.92%)
      </div>

      <div id="kill_ratio">
        3084 kills, 2519 deaths (1.224)
      </div>

      <div id="elo">
        Elo: 375.091 (ctf), 358.604 (dm)
      </div>
    </div>

  </body>
</html>
